/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** Nav Bar styling ******
    ==============================================
*/

.fav-icon {
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 1rem;
  background-color: #fff;
}

.my-icons,
.my-bottuns {
  display: flex;
  column-gap: 1.5rem;
  justify-content: space-between;
}

button {
  background-color: rgb(18, 79, 114);
  color: whitesmoke;
  padding: 0.5rem;
}

.hero-header {
  font-family: 'Great Vibes', cursive, sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

/*
    ==============================================
                ****** First section styling ******
    ==============================================
*/
main {
  margin: auto;
  width: 60%;
  padding-top: 7rem;
}

.social-link {
  padding: 2rem;
  border-top: 1px solid #f8e9e9;
  text-align: center;
}

.social-link > ul > li {
  display: inline;
  color: rgb(117, 115, 115);
  width: 100%;
  padding: 0.5rem;
}

.headline {
  text-align: center;
  font-size: 3rem;
}
